.hdr-badge-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    .hdr-badge {
        flex: none;
        padding: 0.4rem 0.8rem;
        border-radius: 0.4rem;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.05rem;
        color: var(--primary-foreground-color);
        background-color: var(--modal-background-color);
        border: 0.1rem solid var(--primary-foreground-color);
    }
}
